<h1>Profile Page</h1>
<h5>Welcome to BookClub,
 a social media platform dedicated to conversations about books.</h5>
<form action="/profile/<%= id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="inputFile">Image</label>
    <input type="file" name="inputFile">
    <button type="submit" class="imgbtn">Upload Image</button>
</form>




<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>
<img id="imgSz" src="<%= image %>" alt="Profile Picture">
<body id="pbody"></body>

